<%= form_with(model: pop, local: true) do |form| %>
  <% if pop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pop.errors.count, "error") %> prohibited this pop from being saved:</h2>

      <ul>
      <% pop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pop_name %>
  </div>

  <div class="field">
    <%= form.label :ip %>
    <%= form.text_field :ip, id: :pop_ip %>
  </div>

  <div class="field">
    <%= form.label :instance %>
    <%= form.text_field :instance, id: :pop_instance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
