<p id="notice"><%= notice %></p>

<h1>Vnfs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vnfs.each do |vnf| %>
      <tr>
        <td><%= vnf.name %></td>
        <td><%= link_to 'Show', vnf %></td>
        <td><%= link_to 'Edit', edit_vnf_path(vnf) %></td>
        <td><%= link_to 'Destroy', vnf, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vnf', new_vnf_path %>
