<%= form_with(model: n, local: true) do |form| %>
  <% if n.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(n.errors.count, "error") %> prohibited this n from being saved:</h2>

      <ul>
      <% n.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :n_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
